 /* Card de listagem */
 .list-container {
    max-width: 1800px;
    min-width: 600px;
    width: 100%;
    padding: 2rem;
    border-radius: .75rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
/* Estilização da tabela */
.table {
    margin-top: 1.5rem;
}
/* Botão de novo usuário */
.btn-primary {
    background-color: #6c5ce7;
    border: none;
    transition: background-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #4e3db8;
}
/* Botões de ação */
.btn-action {
    margin-right: 0.5rem;
}